:root {
	/* ------- colors ------- */
	--primary-color: #000000;
	--secondary-color: #28282a;
	--tertiary-color: #606060;
	--quaternary-color: #e4e4e7;
	--link-color: #14b8a6;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}
